<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.polaris.hyperos.framework.overlay" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <overlay android:targetPackage="android" android:isStatic="true" android:priority="9999" />
    <application android:hasCode="false" android:label="MIX 2S hardware configuration" />
</manifest>
